<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} - {{project}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="?p=">{{ project }}</a>
                    <ul class="nav pull-right">
                        {% for e in navright %}
                            {% set dropdown = (e.sub|length > 0) %}
                            <li{% if e.active %} class="active"{% elseif dropdown %} class="dropdown"{% endif %}>
                                <a{% if e.href %} href="{% if e.type == "external" %}{{e.href}}{% else %}{{ pageLink(e.href) }}{% endif %}"{% endif %}{% if dropdown %} class="dropdown-toggle" data-toggle="dropdown"{% endif %}>{{e.title}}</a>
                                {% if dropdown %}
                                    <ul class="dropdown-menu">
                                        {% for s in e.sub %}
                                            <li>
                                                <a{% if s.href %} href="{% if s.type == "external" %}{{s.href}}{% else %}{{ pageLink(s.href) }}{% endif %}"{% endif %}>{{s.title}}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="nav">
                        {% for e in nav %}
                            {% set dropdown = (e.sub|length > 0) %}
                            <li{% if e.active %} class="active"{% elseif dropdown %} class="dropdown"{% endif %}>
                                <a{% if e.href %} href="{% if e.type == "external" %}{{e.href}}{% else %}{{ pageLink(e.href) }}{% endif %}"{% endif %}{% if dropdown %} class="dropdown-toggle" data-toggle="dropdown"{% endif %}>{{e.title}}</a>
                                {% if dropdown %}
                                    <ul class="dropdown-menu">
                                        {% for s in e.sub %}
                                            <li>
                                                <a{% if s.href %} href="{% if s.type == "external" %}{{s.href}}{% else %}{{ pageLink(s.href) }}{% endif %}"{% endif %}>{{s.title}}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <p>&nbsp;<br>&nbsp;</p>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>{{title}}</h1>
                    <br>
                </div>
            </div>
            <div class="row">
                {% set midwidth = 12 %}
                {% if widgets|length > 0 %}{% set midwidth = midwidth - 4 %}{% endif %}
                {% if snav and snav|length > 0 %}
                    {% set midwidth = midwidth - 4 %}
                    <div class="span4">
                        {{snav|raw}}
                    </div>
                {% endif %}
                <div class="span{{ midwidth }}">
                    {{content|raw}}
                </div>
                {% if widgets|length > 0 %}
                    <div class="span4">
                        {% for w in widgets %}
                            {{ w.render()|raw }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="span12">
                    <hr>
                    <p class="muted" style="text-align: center;">
                        Powered by <a href="{{coflight.link}}">Coflight v{{coflight.version}}</a><br>
                        {{footer|raw}}
                    </p>
                </div>
            </div>    
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>