<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} - {{project}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <div class="row">
                <div class="span12">
                    <h1>{{title}}</h1>
                    <br>
                    <div class="navbar">
                        <div class="navbar-inner">
                            <ul class="nav">
                                {% for e in nav %}
                                    {% set dropdown = (e.sub|length > 0) %}
                                    <li{% if e.active %} class="active"{% elseif dropdown %} class="dropdown"{% endif %}>
                                        <a{% if e.href %} href="{{e.href}}"{% endif %}{% if dropdown %} class="dropdown-toggle" data-toggle="dropdown"{% endif %}>{{e.title}}</a>
                                        {% if dropdown %}
                                            <ul class="dropdown-menu">
                                                {% for s in e.sub %}
                                                    <li>
                                                        <a{% if s.href %} href="{{s.href}}"{% endif %}>{{s.title}}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% set midwidth = 12 %}
                {% if widgets|length > 0 %}{% set midwidth = midwidth - 4 %}{% endif %}
                {% if snav and snav|length > 0 %}
                    {% set midwidth = midwidth - 4 %}
                    <div class="span4">
                        {{snav}}
                    </div>
                {% endif %}
                <div class="span{{ midwidth }}">
                    {{content}}
                </div>
                {% if widgets|length > 0 %}
                    <div class="span4">
                        {% for w in widgets %}
                            {{ w->render() }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="span12">
                    <hr>
                    <p class="text-center">
                        {{footer}}
                    </p>
                </div>
            </div>    
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>