<form method="POST" action="{{pageLink("dbpageadm:create")}}">
    <div class="input-append">
        <input type="text" name="page" placeholder="Create Page">
        <button type="submit" class="btn">Create</button>
    </div>
</form><br>

{% if pages|length == 0 %}
    <div class="muted"><i>Nothing to display</i></div>
{% else %}
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Last edit</th>
            <th>Options</th>
        </tr>
        {% for page in pages %}
            <tr>
                <td>{{page.name}}</td>
                <td>{{page.title}}</td>
                <td><acronym title="{{page.edit_time|strftime("%a, %B, %e %Y - %H:%M")}}">{{page.edit_time|reltime}}</acronym> by {{page.edit_by}}</td>
                <td><div class="btn-group">
                    <a href="{{pageLink("dbpageadm:edit/" + page.name)}}" class="btn">Edit</a>
                </div></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{{ pageSelector(currentPage, pageCount, "dbpageadm:list/${page}") }}